.headerContainer {
    padding: 10px;
    background-color: #f3f6f4;
    border-bottom: 5px solid #ffa737;
    display: flex;
    align-items: space-evenly;
    justify-content: space-between;
    flex-direction: row;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #ffa737;
    cursor: pointer;
}

.listContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.listItem {
    font-size: 20px;
    font-weight: bold;
    color: #ffa737;
    padding: 10px;
    cursor: pointer;
    border-bottom: 5px solid #ffa737;
    background: linear-gradient(to left, #f3f6f4 50%, #ffa737 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.listItem:hover {
    background-color: #ffa737;
    color: #f3f6f4;
    background-position: left;
}
