.footerContainer {
    height: 100px;
    background-color: #231f20;
    color: #F3F6F4;
    bottom: 0px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
